<!DOCTYPE html>
<html>
    <head>
        <link href="css/bootstrap-combined.min.css" rel="stylesheet" />
        <link href="css/font-awesome.css" rel="stylesheet" />
        <style>
            .section {
                border: 1px solid #cccccc;
                margin-bottom: 20px;
                border-radius: 5px;
            }

            .sectionheader {
                font-size: 20px;
                margin-left: 0px;
                border-radius:5px 5px 0px 0px;
                border-bottom: 1px solid #cccccc;
                background-color: #EEEEEE;
                height: 32px;
                padding: 8px 8px 0px 10px;
            }

            .sectioncontent {
                padding: 10px;
            }

            .sectioncontent.modal {
                display: none;
            }

            .sectionsummary {
                display:none;
                font-size: 16px;
                padding: 8px 8px 8px 10px;
            }

            .sectionToggler {
                cursor: pointer;
                font-size: 15px;
                width: 15px;
            }

            .subsectionContainer {
                margin-left: 0px;
            }

            .innerPaneHeading {
                font-size: 10px;
                font-weight: bold;
            }

            .innerPane {
                font-size: 10px;
            }

            select {
             font-size: 12px;   
            }

            .underline {
                border-bottom: 1px solid #cccccc;
                margin: 0 10px 0 0; 
            }
        </style>
        <script src="jquery.min.js"></script>
        <script src="bootstrap.min.js"></script>
        <script src="underscore-min.js"></script>
        <script src="backbone-min.js"></script>
    </head>
    <body>
        <div id="container" class="container span8">
        </div>

        <form id="fulfillmentForm" class="container span8">

        </form>

        <script type="text/template" id="security_group_template">
            <div class="span6">
                <div><%=name%></div>
                <span>sg widget</span>
            </div>
        </script>

        <script type="text/template" id="elastic_ip_template">
            <div class="span6">
                <div><%=name%></div>
                <span>eip widget</span>
            </div>
        </script>

        <script type="text/template" id="region_template">
            <div>
                <div><%=name%></div>
                <select>
                    <% regions.each(function(region) { %>
                        <option value="<%= region.get('id') %>"><%= region.get('name') %></option>
                    <% }); %>
                </select>
                <div class='detail'></div>
            </div>
        </script>

        <script type="text/template" id="vpc_template">
            <div class="span6">
                <div><%=name%></div>
                <span>vpc widget</span>
            </div>
        </script>

        <script type="text/template" id="link_template">
            <div class="span6">
                <a href='<%= url %>'><%=name%></a>
            </div>
        </script>

        <script type="text/template" id="text_template">
            <div class="span8">
                <span>text template</span>
            </div>
        </script>

        <script type="text/template" id="section_template">
            <div class="section span8">
                <div class="sectionheader">
                    <% if (showModal === true) { %>
                        <div class="sectionToggler pull-right"><i class="icon-large icon-gear"></i></div>
                    <% } else { %>
                        <div class="sectionToggler pull-right"><i class="icon-large icon-angle-down"></i></div>
                    <% } %>
                    <div class="sectionName"><%=name%></div>
                </div>
                <div class="sectionsummary">
                    <div>Summary</div>
                </div>
                <% if (showModal === true) { %>
                    <div class="sectioncontent fade modal" aria-hidden="true">
                <% } else { %>
                    <div class="sectioncontent">
                <% } %>
                </div>
                <div class="instructions"></div>
            </div>
        </script>
        <script type="text/template" id="region_instructions_template">
            <div>
                Region instructions
            </div>
        </script>

        <script type="text/template" id="vpc_instructions_template">
            <div>
                Vpc instructions
            </div>
        </script>

        <script type="text/template" id="subsection_template">
            <div class="subsectionContainer span8">
                <span><%=name%></span>
            </div>
        </script>

        <script type="text/template" id="security_settings_template">
            <div>
                Security settings instructions
            </div>
        </script>

        <script type="text/template" id="keyPair_template">
            <div>
                key pair widget
            </div>
        </script>

        <script type="text/template" id="ec2InstanceType_template">
            <div class="row">
                <div class="span4">
                    <select size="<%=instanceTypes.length%>" class="span4">
                        <% var recommended; %>
                        <% _.each(instanceTypes, function(i) {%>
                            <option value="<%=i.id%>" <%if (i.recommended) { recommended = i; %> selected="true" <%}%>>
                                <%=i.name%> (<%=i.id%>)
                            </option>
                        <%});%>
                    </select>
                </div>
                <div class="span4">
                    <div class="row">
                        <div class="span1 innerPaneHeading" id="memoryId">Memory</div>
                        <div class="span3 innerPane" id="memoryValue"><%=recommended.memory%></div>
                    </div>
                    <div class=" row underline" />
                    <div class="row">
                        <div class="span1 innerPaneHeading" id="cpuId">CPU</div>
                        <div class="span3 innerPane" id="cpuValue"><%=recommended.cpu%></div>
                    </div>
                    <div class=" row underline" />
                    <div class="row">
                        <div class="span1 innerPaneHeading" id="storageId">Storage</div>
                        <div class="span3 innerPane" id="storageValue"><%=recommended.storage%></div>
                    </div>
                    <div class=" row underline" />
                    <div class="row">
                        <div class="span1 innerPaneHeading" id="platformId">Platform</div>
                        <div class="span3 innerPane" id="platformValue"><%=recommended.platform%></div>
                    </div>
                    <div class=" row underline" />
                    <div class="row">
                        <div class="span1 innerPaneHeading" id="performanceId">Network Performance</div>
                        <div class="span3 innerPane" id="performanceValue"><%=recommended.network%></div>
                    </div>
                    <div class=" row underline" />
                    <div class="row">
                        <div class="span1 innerPaneHeading" id="apiId">API Name</div>
                        <div class="span3 innerPane" id="apiValue"><%=recommended.id%></div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="subnet_template">
            <div class="span6">
                <div><%=name%></div>
                <select>
                    <% subnets.each(function(subnet) { %>
                        <option value="<%= subnet.get('name') %>"><%= subnet.get('cidrBlock') %></option>
                    <% }); %>
                </select>
                <div class='detail'></div>
            </div>
        </script>

        <script type="text/template" id="subnet_detail_template">
            <div>
                <span>Availability Zone: </span><span><%=subnet.get('availabilityZone')%></span>
                <span>Cidr Block: </span><span><%=subnet.get('cidrBlock')%></span>
            </div>
        </script>

        <script type="text/javascript">

            function sleep(milliseconds) 
            {
              var e = new Date().getTime() + (milliseconds);
              while (new Date().getTime() <= e) {}
            }

            var Region = Backbone.Model.extend({
                defaults: {
                    id: null,
                    name: null,
                }
            });
            var Regions = Backbone.Collection.extend({
                model: Region
            });

            var Subnet = Backbone.Model.extend({
              defaults : {
                name : "testName",
                cidrBlock: "testCidrBlock",
                availabilityZone: "az"
              },
            });

            var Subnets = Backbone.Collection.extend({
                model : Subnet,
                findSubnetByName: function(name) {
                    var s = this.find(function(subnet) { 
                        return subnet.get('name') === name; 
                    });

                    return s;
                }
            });

            var DataLayer = {
                // for ajax calls

                getSubnets: function getSubnets(params) {

                    var subnetsCollection = new Subnets();
                    subnetsCollection.add(new Subnet({name: "subnet1", cidrBlock: "10.0.0.1/24", availabilityZone: "us-east-1a"}));
                    subnetsCollection.add(new Subnet({name: "subnet2", cidrBlock: "10.0.0.2/24", availabilityZone: "us-east-1b"}));
                    params.success(subnetsCollection);
                },

                
            };

            var Cache = {
                memory: {},
                initialize: function() {
                    var functions = _.functions(DataLayer);

                    _.each(functions, function(fn) {
                        var fnName = fn.toString();
                        Cache[fnName] = function() {
                            var args = arguments[0];

                            var argsWithoutCallbacks = _.omit(args, ["error", "success"]);

                            var cacheKey = fnName + JSON.stringify(argsWithoutCallbacks);

                            if (Cache.memory[cacheKey]) {
                                args.success(Cache.memory[cacheKey]);
                                return;
                            }

                            args.success = _.wrap(args.success, function(originalCallback, result) {
                                Cache.memory[cacheKey] = result;
                                originalCallback(result);
                            });

                            DataLayer[fnName](args);
                        };
                    }, this);
                }
            }
            Cache.initialize();

            var MPBaseView = Backbone.View.extend({

                initialize: function() {
                    this.type = this.options.type || '';
                    if (this.options.widgetInfo) {
                        this.name = this.options.widgetInfo.name || '';
                        this.type = this.type || this.options.widgetInfo.type || '';
                    }
                    this.setupDependencyListening();
                },

                setupDependencyListening: function() {
                    if (!this.options.dependsOn) return;

                    for (var i = 0; i < this.options.dependsOn.length; i++) {
                        var dependencyElement = $("#"+this.options.dependsOn[i]);
                        dependencyElement.change(this.dependencyChanged);
                    }
                },

                dependencyChanged: function() {
                    alert("test");
                },

                render: function() {
                    this.$el.html(this.template({ name: this.name }));
                    return this;
                },

                isDoubleWidth: function() {
                    return false;
                },

                getSummary: function() {
                    if (!this.options.children || this.options.children.length === 0) return ["default summary"];

                    var summary = [];
                    for (var i = 0; i < this.options.children.length; i++) {
                        var s = this.options.children[i].getSummary();
                        if (!s) continue;
                        summary = summary.concat(s);
                    }
                    return summary;
                },

                updateFormField: function(value) {
                    value = value||"";

                    var name = this.options.parameterId;
                    if (!name) return;

                    var formField = $("#"+name);

                    if (formField.length === 0) {
                        throw new Error("Expected to but did not find a form field with id: " + name);
                    }

                    formField.attr("value", name + " " + value);
                    formField.trigger("change");
                }

            });

            var SectionView = MPBaseView.extend({
                template: _.template($("#section_template").html()),

                events: {
                        "click i": "toggleSectionContent"
                    },

                sectionTypeToInstructions: {
                    'region': '#region_instructions_template',
                    'vpcSettings': '#vpc_instructions_template',
                    'securitySettings': '#security_settings_template'
                },

                initialize: function() {
                    _.bindAll(this, "toggleSectionContent");
                },

                render: function() {
                    this.$el.html(this.template({ name: this.options.name, showModal: this.options.showModal }));
                    this.getSectionInstructions();

                    if (!this.options.children || this.options.children.length === 0) {
                        return this;
                    }

                    this.children = this.options.children;

                    for (var i=0; i < this.options.children.length; i++) {
                        var content = this.options.children[i].render().el;
                        this.$el.find(".sectioncontent").append(content);
                    }

                    return this;
                },

                getSectionInstructions: function() {
                    if (!this.type) return;

                    var instructionsTemplateName = this.sectionTypeToInstructions[this.type];

                    if (!instructionsTemplateName) return;

                    var template = _.template($(instructionsTemplateName).html()); 
                    this.$el.find('.instructions').html(template);
                },

                toggleSectionContent: function() {
                    var toggleIcon = this.$el.find(".sectionToggler i");

                    if (toggleIcon.hasClass('icon-gear')) {
                        this.showModal();
                    }else if (toggleIcon.hasClass("icon-angle-down")) {
                        this.collapse();
                    } else {
                        this.expand();
                    }
                },

                expand: function() {
                    var collapseExpandIcon = this.$el.find(".sectionToggler i");
                    collapseExpandIcon.removeClass("icon-angle-up");
                    collapseExpandIcon.addClass("icon-angle-down");
                    
                    this.$el.find(".sectionsummary").hide();
                    this.$el.find(".sectioncontent").show();
                },

                collapse: function() {
                    var collapseExpandIcon = this.$el.find(".sectionToggler i");
                    collapseExpandIcon.removeClass("icon-angle-down");
                    collapseExpandIcon.addClass("icon-angle-up");

                    this.$el.find(".sectioncontent").hide();
                    this.$el.find(".sectionsummary").show();                        
                    this.setSummary();
                },

                showModal: function() {
                    var sectionSummary = this.$el.find(".sectionsummary");
                    var sectionModal = this.$el.find(".sectioncontent");
                    var thisView = this;

                    sectionModal.on('hide.bs.modal', function () {
                        sectionSummary.show();
                        thisView.setSummary();
                    });

                    sectionModal.modal('show')
                },

                setSummary: function() {
                    var summary = this.getSummary();
                    var sectionSummary = this.$el.find(".sectionsummary div");
                    sectionSummary.empty();

                    var summaryText = summary.join(", ");
                    sectionSummary.html(summaryText);
                },
            });

            var SubsectionView = MPBaseView.extend({
                template: _.template($("#subsection_template").html()),

                render: function() {
                    this.$el.html(this.template({ name: this.options.name }));

                    if (!this.options.children || !this.options.children.length === 0) {
                        throw new Error("No child views to render");
                    }

                    this.children = this.options.children;

                    for (var i=0; i < this.options.children.length; i++) {
                        var content = this.options.children[i].render().el;
                        this.$el.find(".subsectionContainer").append(content);
                    }

                    return this;
                },
            });

            var SubnetDetailView = MPBaseView.extend({
                template: _.template($("#subnet_detail_template").html()),

                render: function() {
                    this.$el.html(this.template({ subnet: this.model }));
                    return this;
                }
            });

            var KeyPairView = MPBaseView.extend({
                template: _.template($("#keyPair_template").html()),

                render: function() {
                    this.$el.html(this.template());
                    return this;
                }
            });

            var InstanceTypeView = MPBaseView.extend({
                template: _.template($("#ec2InstanceType_template").html()),
                events: {
                    "change select": "instanceTypeSelected"
                },

                render: function() {
                    this.$el.html(this.template({instanceTypes: this.options.data }));
                    return this;
                },

                getSummary: function() {
                    return this.$("select :selected").text();
                },

                instanceTypeSelected: function() {
                    var instanceId = this.$("select :selected").val();
                    var instance = this.getInstanceById(instanceId);
                    this.$("#memoryValue").text(instance.memory);
                    this.$("#cpuValue").text(instance.cpu);
                    this.$("#storageValue").text(instance.storage);
                    this.$("#performanceValue").text(instance.network);
                    this.$("#apiValue").text(instance.id);
                    this.updateFormField(instanceId);
                },

                getInstanceById: function(instanceId) {
                    for (instance in this.options.data) {
                        if (this.options.data[instance].id === instanceId){
                            return this.options.data[instance];
                        }
                    }
                }
            });

            var SubnetView = MPBaseView.extend({
                template: _.template( $("#subnet_template").html()),
                events: {
                        "change select": "subnetSelected"
                    },

                initialize: function() {
                    _.bindAll(this, "render");
                    this.model = new Subnets();
                    this.model.bind('change', this.render);
                    this.model.bind('reset', this.render); 
                    this.name = this.options.widgetInfo.name;                   
                    this.getData();
                },

                render: function() {
                    this.$el.html(this.template({ subnets: this.model, name: this.name }));
                    return this;
                },

                renderDetail: function(selectedSubnet) {
                    var subnetDetailView = new SubnetDetailView({model: selectedSubnet});
                    this.$('.detail').html(subnetDetailView.render().el);
                },

                getSelectedSubnet: function() {
                    var name = this.$("select").find(":selected").val();
                    return this.model.findSubnetByName(name);
                },

                subnetSelected: function() {
                    var selectedSubnet = this.getSelectedSubnet();
                    if (this.options.parameterId) {
                        this.updateFormField(selectedSubnet.get("cidrBlock"));
                    }
                    this.renderDetail(selectedSubnet);
                },

                getData: function() {
                    this.model.reset();
                    Cache.getSubnets(
                        {
                            vpc: "vpc1",
                            success: function(result) {
                                result.each(function(subnet){
                                    this.model.add(subnet);
                                }, this);
                            }.bind(this), 
                            error: null
                        });
                },

                getSummary: function() {
                    var selectedSubnet = this.getSelectedSubnet();
                    if (!selectedSubnet) return "";

                    //explicitly read a property
                    return "Subnet: " + selectedSubnet.get("cidrBlock");
                }
            });

            var TextView = MPBaseView.extend({
                template: _.template($("#text_template").html()),
                isDoubleWidth: function() {
                    return true;
                }
            });


            var LinkView = MPBaseView.extend({
                template: _.template($("#link_template").html()),
                initialize: function() {
                    this.name = this.options.widgetInfo.name;
                    this.url = this.options.widgetInfo.url;
                },
                render: function() {
                    this.$el.html(this.template({ name: this.name, url: this.url }));
                    return this;
                },
            });

            var VpcView = MPBaseView.extend({
                template: _.template($("#vpc_template").html()),

                getSummary: function() {
                    return "VPC: some vpc";
                },

                render: function() {
                    this.$el.html(this.template({ }));
                    return this;
                },

                dependencyChanged: function() {
                    alert("dependency changed query for vpc info again");
                },

            });

            var ElasticIpView = MPBaseView.extend({
                template: _.template($("#elastic_ip_template").html()),
            });

            var SecurityGroupView = MPBaseView.extend({
                template: _.template($("#security_group_template").html()),

                getSummary: function() {
                    return "Security Group: selectedGroup";
                }
            });

            var RegionView = MPBaseView.extend({
                template: _.template($("#region_template").html()),
                events: {
                    "change select": "regionSelected"
                },
                render: function() {
                    this.$el.html(this.template({ regions: this.getData() }));
                    return this;
                },

                getData: function() {
                    //could also call api and concatenate with the embedded data in options.data
                    var regions = new Regions();

                    if (this.options.data) {
                        for (var i = 0; i < this.options.data.length; i++) {
                            regions.add(this.options.data[i]);
                        }
                    }
                    return regions;
                },

                getSummary: function() {
                    var selected = this.$("select :selected");
                    return selected.text() + " (" + selected.val() + ")";
                },

                regionSelected: function() {
                    var region = this.$("select :selected").val();
                    this.updateFormField(region);
                }
            });

            var Renderer = (function() {
                function Renderer(uidoc, container) {
                    this.container = container;
                    this.doc = uidoc;
                    this.isPreprocessed = false;
                    this.widgets = {};

                    this.widgets["subnet"] = SubnetView;
                    this.widgets["vpc"] = VpcView;
                    this.widgets["elasticIp"] = ElasticIpView;
                    this.widgets["securityGroup"] = SecurityGroupView;
                    this.widgets["link"] = LinkView;
                    this.widgets["textBlock"] = TextView;
                    this.widgets["region"] = RegionView;
                    this.widgets["keyPair"] = KeyPairView;
                    this.widgets["ec2InstanceType"] = InstanceTypeView;
                }

                Renderer.prototype.preprocess = function() {
                    if (this.isPreprocessed) return;
                    if (!this.doc.sections) return;

                    this.preprocessSections(this.doc.sections);

                    this.isPreprocessed = true;
                };

                Renderer.prototype.preprocessSections = function(sections) {
                    for (var i = 0; i < sections.length; i++) {
                        var section = sections[i];
                        if (section.sections) {
                            this.preprocessSections(section.sections);
                        }
                        if (section.widgets) {
                            for (var j = 0; j < section.widgets.length; j++) {
                                var widget = section.widgets[j];
                                this.createFormFields(widget.id);       
                            }
                        }
                    }  
                };

                Renderer.prototype.createFormFields = function(parameterId) {
                    if (!parameterId) return;

                    $("#fulfillmentForm").append("<input id='" + parameterId + "' name='" + parameterId + "'/>");
                };

                Renderer.prototype.render = function() {
                    if (!this.doc.sections) return;

                    var sections = [];
                    for (var i = 0; i < this.doc.sections.length; i++) {
                        var section = this.doc.sections[i];
                        $(this.container).append(this.renderSection(section).render().el);
                    }                   
                };

                Renderer.prototype.renderSection = function(section) {
                    var subsections = [];
                    var showModal = false;

                    if (section.sections) {
                        for (var i = 0; i < section.sections.length; i++) {
                            var subsection = section.sections[i];
                            subsections.push(this.renderSubsection(subsection));
                        }
                        showModal = true; // This section is a larger section and needs a modal
                    } else if (section.widgets && section.widgets.length > 0) { // widgets directly under a section
                        var newSubsection = {};
                        newSubsection.widgets = section.widgets;
                        subsections.push(this.renderSubsection(newSubsection));
                    }

                    var section = new SectionView({name: section.name, type: section.type, children: subsections, showModal: showModal });
                    return section;
                };

                Renderer.prototype.renderSubsection = function(subsection) {
                    var widgets = [];

                    for (var i = 0; i < subsection.widgets.length; i++) {
                        var widget = subsection.widgets[i];
                        widgets.push(this.renderWidget(widget));
                    }

                    var subsection = new SubsectionView({name: subsection.name, children: widgets});
                    return subsection;

                };

                Renderer.prototype.renderWidget = function(widgetInfo) {
                    var widgetType = this.widgets[widgetInfo.type];
                    if (!widgetType) {
                        throw new Error("Unmapped widget type: " + widgetInfo.type);
                    }
                    var embeddedData = null;

                    if (widgetInfo.data) {
                        embeddedData = this.doc.data[widgetInfo.data];
                    }
                    return new widgetType({ widgetInfo: widgetInfo, data: embeddedData, parameterId: widgetInfo.id, dependsOn: widgetInfo.dependsOn });
                };              

                return Renderer;
            })();

        var uiDoc = {
                data: {
                    regionInfo: [{ id: "us-east-1", name: "Virginia"}, { id: "us-west-1", name: "Northern California" }],
                    instanceTypes: [
                        // All the instance type metadata are already in the AWSMPShared.cfg so we do not want
                        // to duplicate it here. This information will come from the Application once this page
                        // gets added to the website.
                        {
                            id: "m1.small",
                            name: "Standard Small",
                            memory: "1.7 GiB",
                            cpu: "1 EC2 Compute Unit (1 virtual core with 1 EC2 Compute Unit)",
                            storage: "160 GB instance storage",
                            network: "Moderate"
                        },
                        {
                            id: "m1.xlarge",
                            name: "Standard XL",
                            memory: "15 GiB", 
                            cpu: "8 EC2 Compute Units (4 virtual cores with 2 EC2 Compute Units each)",
                            storage: "1690 GB instance storage",
                            network: "High",
                            recommended: true
                        },
                        {
                            id: "c1.medium",
                            name: "High-CPU Medium",
                            memory: "1.7 GiB",
                            cpu: "5 EC2 Compute Units (2 virtual cores with 2.5 EC2 Compute Units each)",
                            storage: "350 GB instance storage",
                            network: "Moderate"
                        }
                    ]
                },
                sections: [
                    { 
                        name: "Region",
                        type: "region",
                        widgets: [
                            {
                                type: "region",
                                id: "regionId",
                                data: "regionInfo"
                            }
                        ]
                    },
                    { 
                        name: "EC2 Instance Type",
                        type: "ec2InstanceType",
                        widgets: [
                            {
                                type: "ec2InstanceType",
                                id: "instanceType",
                                data: "instanceTypes"
                            },
                        ]
                    },
                    { 
                        name: 'VPC Settings',
                        type: 'vpcSettings',
                        sections: [
                                    {
                                        widgets: [
                                            {
                                                type: "vpc",
                                                id: "VpcID",
                                                dependsOn: ["regionId"]
                                            }
                                        ]
                                    },
                                    {
                                        name: "Network interface 1",
                                        widgets: [
                                            {
                                                type: "subnet",
                                                id: "NsipSubnet",
                                                dependsOn: ["regionId", "VpcID"] 
                                            },
                                            {
                                                type: "securityGroup",
                                                id: "PrivateSecurityGroup",   
                                                data: ""
                                            }
                                        ]
                                    },
                                    {
                                        name: "Network interface 3",
                                        widgets: [
                                            {                             
                                                type: "subnet",
                                                id: "ClientSubnet",   
                                                dependsOn: ["regionId", "VpcID"] 
                                            },                                   
                                            {
                                                type: "securityGroup",
                                                id: "PublicSecurityGroup",
                                                data: ""
                                            }  
                                        ]
                                    }
                                ]
                    },
                    { 
                        name: "Security Settings",
                        type: "securitySettings",
                                widgets: [
                                    {
                                        type: "keyPair",
                                        id: "keyPair1",   
                                        dependsOn: ["region"] 
                                    },
                                    
                                    {
                                        type: "securityGroup",
                                        id: "",  
                                    },     
                                     
                                    {
                                        type: "link",
                                        id: "IAMPermission", 
                                    },                                                  
                                ]                          
                    }
                ]
            };

            var r = new Renderer(uiDoc, '#container');
            r.preprocess();
            r.render();

        </script>
    </body>
</html>